# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias y Compilados
node_modules/
dist/
dist-ssr/
.vite/
/backend/dist/
/frontend/dist/
/frontend/node_modules/
/backend/node_modules/
/backend/.pnpm-store/

# Archivos de entorno y secretos (ESTO ES LO MÁS IMPORTANTE)
*.local
.env
.env.*
!.env.example # Es buena práctica dejar un archivo de ejemplo vacío en el repo

# Archivos generados
/generated/prisma
*.tsbuildinfo
frontend/vite.config.ts

# Editor y OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Overrides de Docker (Para tu sandbox/local)
docker-compose.override.yml